# The variables below are to be used if it is needed to run fastapi without docker container
# for fast testing purposes

# If is to be run using docker - clear variables and define them in docker-compose.yml file!!!

APP_CONFIG__PROJECT_NAME=Base-App

APP_CONFIG__DB__URL=postgresql+asyncpg://user:password@localhost:5432/database
APP_CONFIG__DB__ECHO=0
APP_CONFIG__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=
APP_CONFIG__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=
APP_CONFIG__FIRSTSUPERUSER__EMAIL=admin@admin.com
APP_CONFIG__FIRSTSUPERUSER__PASSWORD=superuser

APP_CONFIG__FRONTEND_HOST=http://localhost:5050

APP_CONFIG__SMTP_SERVICE__HOST=http://localhost
APP_CONFIG__SMTP_SERVICE__PORT=8050
APP_CONFIG__SMTP_SERVICE__ENDPOINT=/send/verifytoken
APP_CONFIG__REDIS__URL=redis://localhost:6379